<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - ¿Qué me pongo?</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet" crossorigin="anonymous">        
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/alertify.css" />
</head>
<body class="fondo-main">

    <ul class="nav justify-content-end bg-default nav-pills nav-fill box-shadow">
        <li class="nav-item">
            <a class="nav-link letra-de-titulo letra-20" asp-controller="Home" asp-action="Index" asp-route-idUsuario="@ViewBag.Id">Home <i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link letra-de-titulo letra-20" asp-controller="Guardarropas" asp-route-idUsuario="@ViewBag.Id" asp-action="Index">Guardarropas <i class="fas fa-door-closed"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link letra-de-titulo letra-20" asp-controller="Prendas" asp-route-idUsuario="@ViewBag.Id" asp-action="Index">Prendas <i class="fas fa-tshirt"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link letra-de-titulo letra-20" asp-controller="Eventos" asp-route-idUsuario="@ViewBag.Id" asp-action="Index">Eventos <i class="far fa-calendar-alt"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link letra-de-titulo letra-20 sign-out" asp-controller="Login" asp-action="Logout">Cerrar sesión <i class="fas fa-power-off"></i> </a>
        </li>
    </ul>

    <div>
        @RenderBody()
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/alertify.js"></script>
    <script src="~/js/ajaxStuff.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
